<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="BigData_Project"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="BIGDATA_PROJECT"/>
<stringAttribute key="TALEND_JOB_ID" value="_9lMgINT9EeyiFK0OGkCKEQ"/>
<stringAttribute key="TALEND_JOB_NAME" value="Full_ExecutionII"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
